.leftStatusBar {
    -fx-background-color: #dfdfdf;
    -fx-padding: 4px 0 0 4px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: top-left;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.centerStatusBar {
    -fx-background-color: #dfdfdf;
    -fx-padding: 4px 0 0 0;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: top-center;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.rightStatusBar {
    -fx-background-color: #dfdfdf;
    -fx-padding: 4px 4px 0 0;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: top-right;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}
